@import './fonts.css';
@import './code.css';
@import './blockquote.css';

body {
  margin: 0;
}

#copy {
  max-width: 770px;
  width: 100vw;
  padding: 0 10px;
  margin: auto;
  box-sizing: border-box;
}
#copy h2 {
  font-weight: 500;
  margin-top: 50px;
}

#toc {
  margin-bottom: -10px;
  margin-top: 20px;
}
#toc a {
  margin-bottom: 2px;
  display: block;
  font-weight: 500;
}

a {
  color: #999;
  text-decoration: none;
}

#tool-list li {
  margin: 25px 0px;
}
