@import './fonts.css';
@import './code.css';
@import './blockquote.css';
@import './copy.css';

body {
  margin: 0;
}

#toc {
  margin-top: 20px;
}
#toc a {
  margin-bottom: 2px;
  display: block;
  font-weight: 500;
}

a {
  color: #999;
  text-decoration: none;
}

#tool-list li {
  margin: 25px 0px;
}
