#header {
  text-align: center;
}
#header > * {
  display: inline-block;
  vertical-align: middle;
}
#header > #logo {
  height: 200px;
  width: 200px;
}
#header > #title {
  font-family: Mitr;
  font-size: 5em;
}
