body {
  margin: 0;
  font-family: sans-serif;
  --logo-size: 99px;
  background-color: #ffffff;
}
body.largeSize {
  --logo-size: 400px;
}
body.faviconSize {
  --logo-size: 40px;
}

#control-panel {
  .ctrl-btn {
    padding: 0 4px !important;
    margin: 0;
  }
  .ctrl-input {
    padding: 0 !important;
    margin: 0 !important;
    height: 24px;
  }
  h3 {
    font-size: 1em;
    margin-bottom: 4px;
  }
}

.hammer {
  cursor: move;
}
#logo {
  width: var(--logo-size);
  height: var(--logo-size);
}
#wrapper {
  float: left;
  width: var(--logo-size-large);
  height: var(--logo-size-large);
}
#colors {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
}

body.zdogView .circle-square {
  display: none;
}
#logo:hover .hammer {
  outline: 1px solid black;
}

code {
  font-family: monospace;
  background-color: #eaeaea;
  color: #000000;
  padding: 3px 5px;
  border-radius: 4px;
}
