body {
  margin: 0;
  font-family: sans-serif;
  --logo-size-large: 400px;
  --logo-size-small: 100px;
  --logo-size: var(--logo-size-small);
}
body.iconSize {
  --logo-size: var(--logo-size-large);
}
body.faviconSize {
  --logo-size: 40px;
}

.hammer {
  cursor: move;
}
#logo {
  width: var(--logo-size);
  height: var(--logo-size);
}
#wrapper {
  float: left;
  width: var(--logo-size-large);
  height: var(--logo-size-large);
}
#colors {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
}

body.zdogView .circle-square {
  display: none;
}
#logo:hover .hammer {
  outline: 1px solid black;
}

code {
  font-family: monospace;
  background-color: #eaeaea;
  padding: 3px 5px;
  border-radius: 4px;
}
