#pricing-page {
  width: 1100px;
  margin: auto;
}

#pricing-container {
  display: flex;
}

.pricing-table {
  display: table;
  font-size: 1.07em;
  border-spacing: 40px 8px;
  margin: auto;
}
.pricing-row {
  display: table-row;
}
.pricing-cell {
  display: table-cell;
  /*
  padding: 20px;
  */
}

.pricing-header {
  font-size: 1.45em;
  margin: 7px 30px;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.pricing-price,
.pricing-free {
  font-size: 1.3rem;
  font-weight: 600;
}
.pricing-price {
  color: blue;
}
.pricing-free {
  color: green;
}

.pricing-price-container {
  color: #777;
  line-height: 1.4em;
}
.pricing-price-container > * {
  display: inline;
  vertical-align: middle;
}
.pricing-price-container {
  font-size: 0.99rem;
}
.pricing-price-note {
  /*
  line-height: 0;
  */
}

.pricing-box {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
}
/*
#pricing-individual.pricing-box {
  width: 400px;
}
#pricing-company.pricing-box {
  width: 400px;
}
*/

/*
h2 {
  font-weight: 500;
  font-size: 1.3em;
}
*/
